<h1 style="text-align: center;">Lista de Clientes</h1>

<table>
    <thead>
        <tr>
            <td style="width: 5%;">ID</td>
            <td style="width: 30%;">Nome</td>
            <td style="width: 25%;">Telefone</td>
            <td style="width: 25%;">E-mail</td>
            <td style="width: 15%;">Action</td>
        </tr>
    </thead>
    <tbody>
        @for (cliente of cliente$ | async; track cliente) {
            <tr>
                <td style="text-align: center;">{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.email }}</td>
                <td>
                    <div class="actions">
                        <button id="btnRemove"(click)="remover(cliente.id)"></button> 
                        <button id="btnEdit"></button>
                    </div>
                </td>   
            </tr>
        }
    </tbody>
</table>