<h1>Lista de Clientes</h1>

<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Telefone</td>
            <td>E-mail</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @for (cliente of cliente$ | async; track cliente) {
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.email }}</td>
                <td>
                    <button (click)="remover(cliente.id)">Remover</button>
                </td>
            </tr>
        }
    </tbody>
</table>